<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>workbox-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>jersey-servlet</servlet-name>
    <servlet-class>
                     com.sun.jersey.spi.container.servlet.ServletContainer
                </servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>oneapp.incture.workbox.inbox.rest</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <ejb-local-ref>
    <ejb-ref-name>ConsumerActionFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local> oneapp.incture.workbox.consumers.services.ConsumerActionFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>WorkboxFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.inbox.services.WorkboxFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>SubstitutionRuleFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.inbox.services.SubstitutionRuleFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>AdminControlFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.AdminControlFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ProcessActionFacadeWsdlConsumerLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.ProcessActionFacadeWsdlConsumerLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ProcessFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.ProcessFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ReportFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.ReportFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>RuleManagementFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.RuleManagementFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>SlaManagementFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.SlaManagementFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>TaskFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.TaskFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>UserWorkloadFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.UserWorkloadFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>ConfigurationFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.ConfigurationFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>E2EProcessViewServiceLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.e2e.E2EProcessViewServiceLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>NotificationFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.NotificationFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>TaskTemplateFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.taskmanagement.services.TaskTemplateFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>TaskManagementFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.taskmanagement.services.TaskTemplateFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>WorkboxActionFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.inbox.services.WorkboxActionFacadeLocal</local>
  </ejb-local-ref>
  <ejb-local-ref>
    <ejb-ref-name>WorkboxActionSLFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.inbox.services.WorkboxActionSLFacadeLocal</local>
  </ejb-local-ref>
  
  <ejb-local-ref>
    <ejb-ref-name>FileUploadFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.demo.fileupload.FileUploadFacadeLocal</local>
  </ejb-local-ref>
  
  <ejb-local-ref>
    <ejb-ref-name>CollaborationFacadeLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>oneapp.incture.workbox.pmc.services.CollaborationFacadeLocal</local>
  </ejb-local-ref>
  
  <servlet>
    <servlet-name>WebTestServlet</servlet-name>
    <servlet-class>oneapp.incture.workbox.servlet.WebTestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WebTestServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <resource-ref>
    <res-ref-name>connectivityConfiguration</res-ref-name>
    <res-type>com.sap.core.connectivity.api.configuration.ConnectivityConfiguration</res-type>
  </resource-ref>
  <login-config>
    <auth-method>FORM</auth-method>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>Everyone</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Public Area</web-resource-name>
      <url-pattern>/userRegistration/regUser</url-pattern>
    </web-resource-collection>
  </security-constraint>
  <security-role>
    <description>All SAP Cloud Platform users</description>
    <role-name>Everyone</role-name>
  </security-role>
</web-app>